doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title WebSocket Test
    link(href='css/style.css', rel='stylesheet')
  body
    //
      <button id="connect">Connect</button>
      <button id="disconnect">Disconnect</button>
      <button id="empty">Empty</button>
      <p id="received">
      <strong>Received Messages:</strong>
      </p>
      <input id="message-box" type="text" name="message">
      <button id="submit">Submit</button>
      <br>
    button#deal Deal
    #game-container
  script(src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="js/cards.js")
  script(src="js/client.js")
