doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title WebSocket Test
    link(href='css/style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
  body
    .hero
      header
        .container
          h1 Thirteen
          section.buttons
            span.button#connect Connect
            span.button.disabled About
      section.content
        .container
          .box.shadow
            .game
              .name-tag Player 1
              .name-tag Player 2
              .name-tag Player 3
              .name-tag Player 4
            .status
              .button#pass Pass
              .text Loading...
              .button#play Play
  script(src="js/target/cards.js")
  script(src="js/target/thirteen-api.js")
  script(src="js/target/utils.js")
  script(src="js/target/client.js")
