doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title WebSocket Test
    link(href='css/style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
  body
    .hero
      header
        .container
          h1 Thirteen
          section.buttons
            span.button#deal Start Game
            span.button.disabled About
      section.content
        .container.shadow
          game
            button#connect Connect
            button#disconnect Disconnect
            button#empty Empty
            p#received
              strong Received Messages:
            input#message-box(type="text" name="message")
            button#submit Submit
            br
          .status
            .button#pass Pass
            .text Press Start Game to connect to the server!
            .button#play Play
  script(src="http://code.jquery.com/jquery-3.3.1.min.js")
  script(src="https://is.gd/sAeEPt")
  script(src="js/target/cards.js")
  script(src="js/target/utils.js")
  script(src="js/target/client.js")
