$primary-color: rgb(50, 50, 50);
$status-bar-color: rgb(50, 50, 50);

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    padding: 10px;
    background: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.2s;
    &:hover {
        transform: scale(1.05, 1.05);
    }
    &:active {
        transform: none;
        background: rgb(202, 202, 202);
    }
    &.disabled {
        transform: scale(0.9, 0.9);
        background: rgb(99, 99, 99);
    }
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Lato, sans-serif;
    background: url(./assets/img/bg-tile.png), linear-gradient(to bottom, #3d4046, #1c1e22);
    header {
        height: 80px;
        width: 100vw;
        background: rgba(0, 0, 0, 0.5);
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            h1 {
                color: white;
                text-align: center;
                margin: 20px;
            }
            section.buttons {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                .button {
                    margin-right: 20px;
                }
            }
        }
    }
    section.content {
        flex: 1;
        display: flex;
        justify-items: center;
        align-items: center;
        .container {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }
        .box {
            width: 100%;
            max-width: 800px;
            height: 100%;
            max-height: 600px;
            display: flex;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            color: white;
            overflow: hidden;

            .game {
                width: 100%;
                height: 100%;
                max-height: 600px;
                background: rgba(0, 0, 0, 0.2);
                overflow: hidden;

                .login-box {
                    width: 90vw;
                    max-width: 300px;
                    margin: 20px auto 0px;
                    padding: 20px;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 5px;

                    .login-selection {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;

                        input#username-select {
                            border-radius: 5px;
                            padding: 10px;
                            font-size: 15px;
                            border: none;
                            flex: 1;
                            margin-right: 10px;
                        }

                        select#game-size-select {
                            justify-content: flex-end;
                            height: 38px;
                            background: white;
                            font-size: 15px;
                            border: none;
                            border-radius: 5px;
                        }
                    }
                    
                    .button {
                        flex: 0 1;
                        color: black;
                    }
                }
    
                // .name-tag {
                //     position: absolute;
                //     text-align: center;
                //     user-select: none;
                //     text-shadow: 0 0 10px black;
                //     z-index: 1000;
                //     display: none;
                    
                //     &:nth-child(1) {
                //         bottom: 0px;
                //         width: 100%;
                //     }
                //     &:nth-child(2) {
                //         top: 0px;
                //         width: 100%;
                //     }
                //     &:nth-child(3) {
                //         writing-mode: vertical-lr;
                //         left: 0px;
                //         height: 100%;
                //     }
                //     &:nth-child(4) {
                //         writing-mode: vertical-rl;
                //         right: 0px;
                //         height: 100%;
                //     }
                // }
            }
            .status {
                display: flex;
                align-items: center;
                width: 100%;
                height: 38px;
                background: rgba(0, 0, 0, 0.5);
                
                .text {
                    flex: 1;
                    margin-left: 10px;
                    text-align: center;
                }
                .button {
                    border-radius: 0;
                    background: rgb(30, 30, 30);
                    &:active {
                        transform: none;
                    }
                }
                .button#play {
                    background: rgb(0, 100, 0);
                    &:hover {
                        transform: none;
                        background: rgb(0, 150, 0);
                    }
                }
                .button#pass {
                    background: rgb(100, 0, 0);
                    &:hover {
                        transform: none;
                        background: rgb(150, 0, 0);
                    }
                }
            }
        }
    }
}