.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.button {
  padding: 10px;
  background: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  transition: all ease-in-out 0.2s; }
  .button:hover {
    transform: scale(1.1, 1.1); }
  .button:active {
    transform: none;
    background: #cacaca; }
  .button.disabled {
    transform: scale(0.9, 0.9);
    background: #636363; }

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }

body {
  height: 100vh;
  width: 100vw;
  margin: 0; }

.hero {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Lato, sans-serif;
  background: url(../img/bg-tile.png), linear-gradient(to bottom, #3d4046, #1c1e22); }
  .hero header {
    height: 80px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5); }
    .hero header .container {
      display: flex;
      align-items: center;
      justify-content: center; }
      .hero header .container h1 {
        color: white;
        text-align: center;
        margin: 20px; }
      .hero header .container section.buttons {
        flex: 1;
        display: flex;
        justify-content: flex-end; }
        .hero header .container section.buttons .button {
          margin-right: 20px; }
  .hero section.content {
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: center; }
    .hero section.content .container {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center; }
    .hero section.content .box {
      width: 100%;
      max-width: 800px;
      height: 100%;
      max-height: 600px;
      display: flex;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.2);
      overflow: hidden; }
    .hero section.content .game {
      width: 100%;
      height: 100%;
      max-height: 600px;
      background: rgba(0, 0, 0, 0.2);
      overflow: hidden; }
    .hero section.content .console {
      font-family: monospace;
      overflow: auto;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      color: rgba(255, 255, 255, 0.6); }
      .hero section.content .console #received {
        flex: 1;
        overflow: auto; }
    .hero section.content .status {
      display: flex;
      align-items: center;
      width: 100%;
      height: 38px;
      background: rgba(0, 0, 0, 0.5);
      color: white; }
      .hero section.content .status .text {
        flex: 1;
        margin-left: 10px;
        text-align: center; }
      .hero section.content .status .button {
        border-radius: 0;
        background: #1e1e1e;
        display: none; }
        .hero section.content .status .button:active {
          transform: none; }
      .hero section.content .status .button#play {
        background: darkgreen; }
        .hero section.content .status .button#play:hover {
          transform: none;
          background: #009600; }
      .hero section.content .status .button#pass {
        background: #640000; }
        .hero section.content .status .button#pass:hover {
          transform: none;
          background: #960000; }

/*# sourceMappingURL=style.css.map */
